@use '../../Foundation';

.c-medium-heading {
	font-weight: 700;
	font-family: Foundation.$e-family;
	line-height: 1.4;
	font-size: 3.2rem;

	@include Foundation.mq('tab') {
		font-size: 3.6rem;
	}
	@include Foundation.mq('pc') {
		font-size: 4.8rem;
	}
	&.c-medium-heading--section {
		margin-top: 0;
		margin-bottom: 4rem;
		@include Foundation.mq('tab-pc') {
			margin-bottom: 6rem;
		}
	}
}
