@use '../../Foundation';

.c-sub-heading {
	font-weight: 700;
	font-family: Foundation.$j-family;
	font-size: 2.4rem;

	@include Foundation.mq('pc') {
		font-size: 3.2rem;
	}
	&.c-sub-heading--article {
		margin-top: 0;
		margin-bottom: 2rem;
		@include Foundation.mq('pc') {
			margin-bottom: 3rem;
		}
	}
}
