@use '../../Foundation';

.p-about {
	background-image: Foundation.$bg_gradation;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	&__container {
		@include Foundation.mq('tab-pc') {
			display: flex;
			align-items: flex-start;
			margin: 0 -5vw;
		}
	}
	&__sub-container {
		display: flex;
		flex-direction: column;
		@include Foundation.mq('tab-pc') {
			width: 50%;
		}
	}
	&__article {
		margin-bottom: 30px;
		@include Foundation.mq('tab-pc') {
			padding: 0 5vw;
		}
	}

	&__skill {
		@include Foundation.mq('pc') {
			display: flex;
			align-items: flex-start;
			justify-content: left;
		}
	}
}
